# http://EditorConfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.go]
indent_style = tab

[*.{js,ts,tsx}]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.css]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.yaml]
indent_style = space
indent_size = 2
insert_final_newline = true

[Makefile]
indent_style = tabs
indent_size = 4
